body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: url("bg.gif");
  background-repeat:no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin-top: 10px;
}

label {
  margin-right: 5px;
}

#greeting {
  display: inline-block;
}

.logout-btn {
  display: inline-block;
  margin-left: 10px;
}
